@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia+Glaze:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.containermain{
    background-color: antiquewhite;
}
.container img{  
    width: 100%;
    height: 85vh;
}
.container{
    margin: 1vw 1vw;
}
.containerheading{
    position: relative;
    bottom: 36vw;
    left: 4vw;
    color: yellow;
    font-size: 5vw;
    font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
.containerparagraph{
    position: relative;
    bottom: 25vw;
    left: 4vw;
    color: yellow;
    font-size: 2vw;
    font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
.building{
    position: relative;
    bottom: 18vw;
}
.buildingheading{
    text-align: center;
    font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 3vw;
}
.buildingparagraph{
    text-align: center;
    font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1.5vw;
}
.button{
    text-align: center;
    margin-top: 4vw;
}
.buttonbuilding{
    background-color: rgb(155, 106, 57); 
    font-size: 1.5vw;
    color: #fff;
    padding: 2vw;
    width: 15vw;
    border-radius: 1vw;
    cursor: pointer;
}
.buttonbuilding:hover{
    background-color: rgb(100, 69, 37); 
    transition: all 0.4s ease-in-out;
}
.buildingstick{   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 6vw;
}
#buildingimages{
    width: 25vw;
    height: 25vw;
}
.imagebuilding1{
    position: relative;
    bottom: 10vw;
}
.imagebuilding3{
    position: relative;
    bottom: 15vw;
}
.contact{
    background-color: rgb(155, 106, 57); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 12vw;
}
.contactheading{
    font-size: 4vw;
    color: #fff;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
    position: relative;
    bottom: 6vw;
}
.contactparagraph{
    color: #fff;
    font-size: 2vw;
    position: relative;
    bottom: 6vw;
}
.contactimages{
    width: 20vw;
    height: 20vw;
   margin: 1vw 1vw;
}
.contactbdn{
    text-align: center;
}
.contactbtn{
    font-size: 2vw;
    width: 14vw;
    height: 5vw;
    border-radius: 2vw;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
    color: #fff;
    background-color: rgb(155, 106, 57);
}
.contactbtn:hover{
    transform: scale(1.08);
    transition: all 0.4s ease-in-out;
}
.designheading{
    text-align: center;
    color:  rgb(155, 106, 57);
    font-size: 3vw;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.designimagescontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.designimages{
    width: 38vw;
    height: 38vw;
}
footer{
    margin-top: 14vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerheading{
    font-size: 1.8vw;
    color: gray;
}
.footersection1{
    margin: 4vw 4vw;
}
.icons{
    margin-top: 1vw;
}
.icons i{
    margin: 0 0.5vw;
}
.icons i:hover{
    transform: rotate(360deg);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
#facebook{
   color: blue;
   font-size: 3vw;
}
#twitter{
    color: aqua;
    font-size: 3vw;
}
#instagram{
    color: orangered;
    font-size: 3vw;
}
#link{
    color: blue;
    font-size: 3vw;
}
.footersection1paragraph{
    font-size: 1.8vw;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
    color: gray;   
    margin-top: 2vw;
}
.footersection2{
    position: relative;
    bottom: 6vw;
}
.tourheading{
    font-size: 3vw;
    font-weight: 500;
    color: black;
    margin-bottom: 1vw;
}
.footersection2heading{
    font-size: 2vw;
    font-weight: 500;
    color: black;
    margin-bottom: 1vw;
}
.lastparagraph{
    font-size: 1.5vw;
    color: gray;
}
.footersection3{
    position: relative;
    bottom: 8.4vw;
}
.email{
    font-size: 1.5vw;
    width: 20vw;
    height: 4vw;
    margin-top: 4vw;
    border-radius: 0.5vw;
}
.contactimagescontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactimagescontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:1000px) {   
    .container img{  
        width: 100%;
        height: 100vh;
    }
    .container{
        margin: 2vw 2vw;
    }
    .containerheading{
        position: relative;
        bottom: 75vw;
        left: 4vw;
        font-size: 8vw;
    }
    .containerparagraph{
        position: relative;
        bottom: 70vw;
        left: 4vw;
        font-size: 3vw;
    }
    .buildingheading{
        font-size: 5vw;
    }
    .buildingparagraph{
        font-size: 3vw;
    }
    .button{
        text-align: center;
        margin-top: 4vw;
    }
    .buttonbuilding{
        font-size: 3vw;
        width: 20vw;
    }
    .buildingstick{   
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        margin-top: 6vw;
    }
    #buildingimages{
        width: 30vw;
        height: 35vw;
    }
    .contact{
        background-color: rgb(155, 106, 57); 
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        bottom: 12vw;
    }
    .contactheading{
        font-size: 5vw;
        position: relative;
        bottom: 4vw;
    }
    .contactparagraph{
        font-size: 2.5vw;
        position: relative;
        bottom: 4vw;
    }
    .contactimages{
        width: 26vw;
        height: 26vw;
       margin: 2vw 1vw;
    }
    .contactbtn{
        font-size: 4vw;
        width: 25vw;
        height: 7vw;
    }
    .designheading{
        font-size: 5vw;
    }
    .designimages{
        width: 48vw;
        height: 48vw;
    }
    .footerheading{
        font-size: 3vw;
        color: gray;
    }
    .footersection1{
        margin: 4vw 4vw;
    }
    .icons{
        margin-top: 2vw;
    }
    .icons i{
        margin: 0 0.5vw;
    }
    #facebook{
        font-size: 5vw;
     }
     #twitter{
         font-size: 5vw;
     }
     #instagram{
         font-size: 5vw;
     }
     #link{
         font-size: 5vw;
     }
     .footersection1paragraph{
        font-size: 3vw;
        margin-top: 2vw;
    }
    .footersection2{
        position: relative;
        bottom: 6vw;
    }
    #footersection2{
        position: relative;
        left: 3vw;
    }
    .tourheading{
        font-size: 4vw;
        margin-bottom: 1vw;
    }
    #tourheading{
        margin-left: 6vw;
    }
    .footersection2heading{
        font-size: 3vw;
        font-weight: 500;
        margin-bottom: 1vw;
    }
    .lastparagraph{
        font-size: 3vw;
        margin: 0 6vw;
    }
    .footersection3{
        position: relative;
        bottom: 8.4vw;
        margin-top: 6vw;
    }
    .email{
        font-size: 3vw;
        width: 22vw;
        height: 6vw;
        margin-left: 5vw;
    }
}
@media screen and (max-width:680px) {   
    .containerheading{
        position: relative;
        bottom: 115vw;
        left: 4vw;
        font-size: 10vw;
    }
    .containerparagraph{
        position: relative;
        bottom: 110vw;
        left: 4vw;
        font-size: 4vw;
    }
    .buildingheading{
        font-size: 6vw;
    }
    .buildingparagraph{
        font-size: 4vw;
    }
    .button{
        text-align: center;
        margin-top: 4vw;
    }
    .buttonbuilding{
        font-size: 5vw;
        width: 30vw;
    }
    .buildingstick{   
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        margin-top: 6vw;
    }
    #buildingimages{
        width: 40vw;
        height: 40vw;
    }
    .contact{
        position: relative;
        bottom: 12vw;
    }
    .contactheading{
        font-size: 6vw;
        position: relative;
        bottom: -2vw;
    }
    .contactparagraph{
        font-size: 4vw;
        position: relative;
        bottom: 0.2vw;
    }
    #none{
        display: none;
    }
    .contactimages{
        width: 28vw;
        height: 28vw;
       margin: 2vw 1vw;
    }
    .contactbtn{
        font-size: 6vw;
        width: 35vw;
        height: 10vw;
        margin-top: 4vw;
    }
    .designheading{
        font-size: 7vw;
    }
    .designimagescontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .designimages{
        width: 86vw;
        height: 86vw;
        margin: 2vw 0;
    }
    .footerheading{
        font-size: 4vw;
        color: gray;
    }
    .footersection1{
        margin: 4vw 4vw;
    }
    .icons{
        margin-top: 2vw;
    }
    .icons i{
        margin: 0 0.5vw;
    }
    #facebook{
        font-size: 6vw;
     }
     #twitter{
         font-size: 6vw;
     }
     #instagram{
         font-size: 6vw;
     }
     #link{
         font-size: 6vw;
     }
     .footersection1paragraph{
        font-size: 4vw;
        margin-top: 2vw;
    }
    .footersection2{
        position: relative;
        bottom: 6vw;
    }
    #footersection2{
        position: relative;
        left: 3vw;
    }
    .tourheading{
        font-size: 5vw;
        margin-bottom: 1vw;
    }
    #tourheading{
        margin-left: 6vw;
    }
    .footersection2heading{
        font-size: 4vw;
        font-weight: 500;
        margin-bottom: 1vw;
    }
    .lastparagraph{
        font-size: 3vw;
        margin: 0 6vw;
    }
    .footersection3{
        position: relative;
        bottom: 8.4vw;
        margin-top: 6vw;
    }
    .email{
        font-size: 4vw;
        width: 26vw;
        height: 8vw;
        margin-left: 5vw;
    }
}